.main-wrapper {
  padding: 20px;

  @media (min-width: $screen-md-min) {
    padding: 40px;
    padding-right: 0;
  }
}

.content-wrapper {
  margin-top: 20px;
}

.main-header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 40px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  z-index: 99999;
  pointer-events: visible;

  @media (min-width: $screen-md-min) {
    padding: 40px;
  }

  .main-logo {
    position: relative;
    width: auto;
    display: block;
    float: left;

    width: 80px;
    @include transition(all 150ms ease-out);
    @include transform-origin(center center);

    &:hover {
      @include transform(scale(1.05));
    }

    > img {
      width: 100%;
    }

    .logo {
      display: none;
    }

    @media (min-width: $screen-md-min) {
      .logo-mobile {
        display: none;
      }
      .logo {
        display: block;
      }
    }
  }

  > .main-navigation {
    padding: 0;

    @media (min-width: $screen-md-min) {
      padding: 0 40px;
    }

    .nav-item {
      margin-left: 10px;
      display: inline-block;
      @include transition(all 150ms ease-out);
      @include transform-origin(center center);

      &:hover {
        @include transform(scale(1.1));
      }

      @media (min-width: $screen-md-min) {
        margin-left: 20px;
      }
    }

    img {
      width: 50px;
    }
  }
}
