.main-wrapper {
  padding: 20px;

  @media (min-width: $screen-md-min) {
    padding: 40px;
  }
}

.content-wrapper {
  // padding-top: 120px;
  margin-top: 20px;
}

.main-header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 40px 20px;
  display: block;
  width: 100%;
  height: auto;
  // padding-bottom: 20px;
  z-index: 99999;
  pointer-events: visible;

  @media (min-width: $screen-md-min) {
    padding: 40px;
  }

  > .main-logo {
    position: relative;
    width: auto;
    display: block;
    float: left;
  }

  > .main-navigation {
    position: absolute;
    left: 0;
    display: block;
    float: left;
    width: 100%;
    padding: 0 20px;

    @media (min-width: $screen-md-min) {
      padding: 0 40px;
    }
  }
}
