.main-navigation {
  width: 100%;

  ul {
    display: table;
    table-layout: fixed;
    padding: 0;
    margin: 0;
    width: 100%;
  }

  li {
    display: table-cell;
    text-align: right;

    &:last-child {
      margin-right: 0;
    }
  }

  a {
    text-transform: uppercase;
    font-weight: bold;
  }
}
