.main-wrapper {
  padding: 40px;
}

.content-wrapper {
  padding-top: 120px;
}

.main-header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 40px;
  display: block;
  width: 100%;
  // padding-bottom: 20px;
  z-index: 99999;
  pointer-events: visible;

  > .main-logo {
    position: absolute;
    width: 80px;
    display: block;
    float: left;
  }

  > .main-navigation {
    display: block;
    float: left;
    width: calc(100% - 80px);
  }
}

.main-logo {
  width: 80px;
  @include transition(all 150ms ease-out);

  &:hover {
    @include transform(scale(1.1) rotate(-5deg));
  }

  > img {
    width: 100%;
  }
}
