extends ./base.jade


block content

  section.content-wrapper.projects-wrapper
    .logo-wrapper
      img.logo(src="./images/logo.svg", alt="")
      
      
    ol.projects.clearfix
      = images
      each project in collections.projects
        //- li
          //- h1= project.title
          //- = project.images.length
        li.project(style="width: #{project.width}px; height: #{project.height}px")
          .project-gallery
            ul.project-gallery-list
              each image in project.images
                li.project-gallery-list-item(style="background-image: url('" + image + "')")
                
