blabla

//- extends ./base.jade
//- 
//- 
//- block content
//-   img.logo(src="./images/logo.svg", alt="")
//-   
//-   .main-wrapper
//-     != contents
//-     
//-     //- .gallery
//-     //-   ul
//-     //-     each image in images
//-     //-       li
//-     //-         img(src="image", alt="")
//-     //-     
