* {
  box-sizing: border-box;
}

html,
body {
  background-color: $background-color;
  font-family: $font-family;
  color: $text-color;

  font-size: 14px;

  @media(min-width: 768px) {
    font-size: 16px;
  }
}

a {
  color: $text-color;
  text-decoration: none;
  @include transition(color 100ms);

  &:hover {
    color: darken($text-color, 50%);
  }
}

h1 {
  font-size: 2em;
}

strong {
  font-weight: bold;
}
